<%- include ('../partials/header') %>
<div class="container">
	<%if(requests.length===0) {%>
        <h2 class="center">No More Pending Requests are Present.</h2>
    <%}%>
	<%requests.forEach(function(request){%>
	    <div class="card">
		<div class="card-header">
			<span>ShopID: <%=request.ShopID%></span>
			<span style="margin-left: 20px;">ShopKeeperID: <%=request.ShopKeeperID%></span>
		</div>
		<div class="card-body">
		    <div class="row">
				<div class="col-md-4">
					Rent ReferenceID: <%=request.RentReferenceID%>
				</div>
				<div class="col-md-4">
					Rent Amount: <%=request.RentPaid%>
				</div>
				<div class="col-md-4">
					Month: <%=request.Month%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					Electricity Bill ReferenceID: <%=request.BillReferenceID%>
				</div>
				<div class="col-md-4">
					ElectricityBillPaid: <%=request.ElectricityBillPaid%>
				</div>
				<div class="col-md-4">
					Year: <%=request.Year%>
				</div>
			</div>
			<br>
		    <a class="btn btn-success btn-sm" href="/market/billPaymentRequests/Verified?ShopID=<%=request.ShopID%>&ShopKeeperID=<%=request.ShopKeeperID%>&Month=<%=request.Month%>&Year=<%=request.Year%>">Verify</a>
		    <a class="btn btn-danger btn-sm" href="/market/billPaymentRequests/Declined?ShopID=<%=request.ShopID%>&ShopKeeperID=<%=request.ShopKeeperID%>&Month=<%=request.Month%>&Year=<%=request.Year%>">Decline</a>
		</div>
	    </div>
	<%});%>
</div>

<%- include ('../partials/footer') %>