<%- include ('../partials/header') %>

<div class="container">
	<%if(requests.length===0) {%>
        <h2 class="center">No More Pending Requests are Present.</h2>
    <%}%>
	<%requests.forEach(function(request){%>
	    <div class="card">
		<div class="card-header">ShopID: <%=request.ShopID%> </div>
		<div class="card-body">
		    <div class="row">
			<div class="col-md-4">
			    ShopKeeperID: <%=request.ShopKeeperID%>
			</div>
			<div class="col-md-4">
			    ShopKeeperName: <%=request.ShopKeeperName%> 
			</div>
			<div class="col-md-4">
			    ShopName: <%=request.ShopName%> 
			</div>
		    </div>
		    <div class="row">
			<div class="col-md-4">
			    MobileNo: <%=request.MobileNo%>
			</div>
			<div class="col-md-4">
			    PanCardNo: <%=request.PanCardNo%>
			</div>
			<div class="col-md-4">
			    
			</div>
		    </div>
		    <div class="row">
				<div class="col">
					Description: <%=request.TypeDescription%>
				</div>
		    </div>
		    <a class="btn btn-success btn-sm" href="/market/shopRentingRequests/Approved?ShopID=<%=request.ShopID%>&ShopKeeperID=<%=request.ShopKeeperID%>">Approve</a>
		    <a class="btn btn-danger btn-sm" href="/market/shopRentingRequests/Rejected?ShopID=<%=request.ShopID%>&ShopKeeperID=<%=request.ShopKeeperID%>">Reject</a>
		</div>
	    </div>
	<%});%>
    </div>

<%- include ('../partials/footer') %>