<%- include ('../partials/header') %>

<div class="container">
    <h3 class="center">Total Expenditure: ₹ <%=totalExpenditure%></h3>
    <div>
        <% expenditures.forEach(function(expenditure){ %>
            <div class="card mtp">
                <div class="card-header">
                    ExpenditureID: <%=expenditure.ExpenditureID%>
                </div>
                <div class="card-body">
                    <span>Date: <%= expenditure.Date.toISOString().slice(0, 10) %></span>
                    <span style="margin-left: 20px;">Amount: <%= expenditure.Amount %></span>
                    <hr>
                    <div>
                        Description:
                        <br>
                        <%=expenditure.Description%>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include ('../partials/footer') %>