<%- include ('../partials/header') %>

<h1 class="center">Guest Room Availability</h1>

<div class="container">
    <form class="row g-3 justify-content-center" action="/guest/roomAvailability" method="POST">
        <div class="col-auto">
            <label for="exampleFormControlInput1">Stay From</label>
        </div>
        <div class="col-auto">
            <input type="date" class="form-control" id="exampleFormControlInput1" value="<% if(stayFrom){ %><%=stayFrom%><% } %>" min="<%=new Date().toISOString().slice(0, 10)%>" name="stayFrom">
        </div>
        <div class="col-auto">
            <label for="exampleFormControlInput2">Stay Till</label>
        </div>
        <div class="col-auto">
            <input type="date" class="form-control" id="exampleFormControlInput2" value="<% if(stayTill){ %><%=stayTill%><% } %>" min="<%=new Date().toISOString().slice(0, 10)%>" name="stayTill">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Check Availibility</button>
        </div>
    </form>
    <%if(!stayFrom) {%>
        <h2 class="center">Select Duration of Stay and Check Availability</h2>
    <%} else if(rooms.length===0) {%>
        <h2 class="center">No Rooms Available for selected duration</h2>
    <%} else {%>
        <h2 class="center">Available Rooms</h2>
    <%}%>
    <div>
        <% rooms.forEach(function(room){ %>
            <div class="card mtp">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <span>Occupancy: <%= room.Occupancy %></span>, 
                    <span style="margin-left: 20px;">Attached Bathroom: <%= room.HasBathroom %>,</span> 
                    <span style="margin-left: 20px;">Per Day Cost: ₹ <%= room.Cost %></span>
                    <hr>
                    Number of Available Rooms: <%= room.num %>
                    <a style="margin-left: 20px;" href="/guest/roomBooking?occupancy=<%=room.Occupancy%>&hasBathroom=<%=room.HasBathroom%>&stayFrom=<%=stayFrom%>&stayTill=<%=stayTill%>" class="btn btn-primary center" role="button">Book</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include ('../partials/footer') %>