<%- include ('../partials/header') %>
<style>
.center {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
</style>
<img src="https://www.kindpng.com/picc/m/179-1796123_silhouette-gardening-garden-tool-gardener-person-gardening-silhouette.png"
			class="center" height="150" alt="Logo">
<!-- <h1 class="center">Duty Roster</h1> -->
<br>
<br>
<div class="container">
    <form class="row g-3 justify-content-center" action="/landscape/gardenerDetails" method="POST">
        <div class="col-auto">
            <label for="exampleFormControlInput1">Area</label>
        </div>
        <div class="col-auto">
            <select id="exampleFormControlInput1" class="form-select" name="AID">
                <%areas.forEach(function(area){%>
                    <option value="<%=area.AID%>" <%if(AID==area.AID){%> selected <%}%> ><%=area.Address%></option>
                <%});%>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">View Gardeners</button>
        </div>
    </form>

    <%if(!AID) {%>
        <h4 class="center">Select Campus Area and view Gardeners</h4>
    <%} else {%>
        <h4 class="center">Gardeners</h4>
    <%}%>
    <%gardeners.forEach(function(gardener){%>
        <div class="card mtp">
            <div class="card-header">
                <span>GardenerID: <%=gardener.GID%></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">Name: <%=gardener.GName%></div>
                    <div class="col-md-4">MobileNo: <%=gardener.Phone%></div>
                    <div class="col-md-4">Address: <%=gardener.Address%></div>
                </div>
            </div>
        </div>
    <%})%>
</div>

<%- include ('../partials/footer') %>