<%- include ('../partials/header') %>

<div class="container">
    <%if(requests.length===0) {%>
        <h2 class="center">No More Pending Requests are Present.</h2>
    <%}%>
    <%requests.forEach(function(request){%>
        <div class="card mtp">
            <div class="card-header">RequestID: <%=request.RequestID%></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        GardenerID: <%=request.GID%>
                    </div>
                    <div class="col-md-4">
                        JobTitle: Gardener
                    </div>
                    <div class="col-md-4">
                        RequestTime: <%=request.RequestTime.toString().slice(0, 33)%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Name: <%=request.GName%>
                    </div>
                    <div class="col-md-4">
                        Mobile: <%=request.Phone%>
                    </div>
                    <div class="col-md-4">
                        Address: <%=request.Address%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        DutyID: <%=request.DutyID%>
                    </div>
                    <div class="col-md-4">
                        Day: <%=request.Day%>
                    </div>
                    <div class="col-md-4">
                        Date: <%=request.Date.toString().slice(0, 16)%>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Reason: <%=request.Reason%>
                    </div>
                </div>
                <br>
                <a class="btn btn-success btn-sm" href="/landscape/leaveRequests/Accepted/<%=request.RequestID%>?DutyID=<%=request.DutyID%>">Approve and Assign Replacement</a>
                <a class="btn btn-danger btn-sm" href="/landscape/leaveRequests/Denied/<%=request.RequestID%>?DutyID=<%=request.DutyID%>">Reject</a>
            </div>
        </div>
    <%});%>
</div>

<%- include ('../partials/footer') %>